/* Flashcard metadata container */
.flashcard-metadata {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
}

.night-mode {
  .flashcard-metadata,
  #deck-name-container {
    color: var(--dark-mode-footnote-text-color);
  }

  #flashcard-source-info:has(#source-text:empty) path {
    fill: var(--dark-mode-empty-text-color);
  }

  #flashcard-source-info:has(#source-text:empty) {
    color: var(--dark-mode-empty-text-color);
  }
}

.flashcard-metadata,
#deck-name-container {
  color: var(--light-mode-footnote-text-color);
}

#flashcard-source-info:has(#source-text:empty) path {
  fill: var(--light-mode-empty-text-color);
}

#flashcard-source-info:has(#source-text:empty) {
  color: var(--light-mode-empty-text-color);
}

#flashcard-source-info {
  margin-top: 2.875rem;
}

.night-mode {
  #source-icon path {
    fill: var(--dark-mode-footnote-text-color);
  }
}

#source-icon path {
  fill: var(--source-icon-accent-color);
}

#source-text:empty::before {
  content: 'n/a';
}

#source-text {
  overflow-x: auto;
}

#deck-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
}

#flashcard-labels {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1.6875rem;
}

#flashcard-details-info {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}
