/* fix ios text alignment */
.iphone #flashcard-title,
.iphone #flashcard-subject,
.ipad #flashcard-title,
.ipad #flashcard-subject {
  align-self: start;
}

.iphone #flashcard-question,
.iphone #flashcard-answer,
.iphone #source-text,
.ipad #flashcard-question,
.ipad #flashcard-answer,
.ipad #source-text {
  text-align: left;
}

/* override link color on ios */
.iphone a,
.ipad a {
  color: darkgray;
}

/* not supported for ios */
.iphone #flashcard-deck-info,
.ipad #flashcard-deck-info {
  display: none;
}
