@use 'sass:map';

/* ===========================
   Accent Colors
=========================== */

$accentColors: (
  yellow: (
    light: (
      fg: #996200,
      bg: rgba(255, 221, 112, 0.3),
    ),
    dark: (
      fg: #ffc533,
      bg: rgba(255, 197, 51, 0.15),
    ),
  ),
  red: (
    light: (
      fg: #c01f2f,
      bg: rgba(255, 153, 153, 0.3),
    ),
    dark: (
      fg: #ff6161,
      bg: rgba(255, 97, 97, 0.15),
    ),
  ),
  blue: (
    light: (
      fg: #0055cc,
      bg: rgba(173, 216, 230, 0.3),
    ),
    dark: (
      fg: #57c1ff,
      bg: rgba(87, 193, 255, 0.15),
    ),
  ),
  green: (
    light: (
      fg: #2c651c,
      bg: rgba(172, 224, 172, 0.3),
    ),
    dark: (
      fg: #59d499,
      bg: rgba(89, 212, 153, 0.15),
    ),
  ),
  orange: (
    light: (
      fg: #c24e00,
      bg: rgba(255, 200, 130, 0.3),
    ),
    dark: (
      fg: #ff9f0b,
      bg: rgba(255, 159, 11, 0.15),
    ),
  ),
  pink: (
    light: (
      fg: #bd255a,
      bg: rgba(255, 182, 193, 0.3),
    ),
    dark: (
      fg: #ff86b5,
      bg: rgba(255, 134, 181, 0.15),
    ),
  ),
  turquoise: (
    light: (
      fg: #007575,
      bg: rgba(176, 224, 230, 0.3),
    ),
    dark: (
      fg: #40e0d0,
      bg: rgba(64, 224, 208, 0.15),
    ),
  ),
  purple: (
    light: (
      fg: #6633cc,
      bg: rgba(216, 191, 216, 0.3),
    ),
    dark: (
      fg: #b19cd9,
      bg: rgba(177, 156, 217, 0.15),
    ),
  ),
  default: (
    light: (
      fg: #222222,
      bg: rgba(220, 220, 220, 0.5),
    ),
    dark: (
      fg: #cccccc,
      bg: rgba(60, 60, 60, 0.5),
    ),
  ),
);

@mixin setAccentColors($color) {
  $lightValues: map.get($accentColors, $color, light);
  $darkValues: map.get($accentColors, $color, dark);

  .accent-#{'#{$color}'} {
    --label-font-color: #{map.get($lightValues, fg)};
    --label-background-color: #{map.get($lightValues, bg)};
  }

  .nightMode .accent-#{'#{$color}'} {
    --label-font-color: #{map.get($darkValues, fg)};
    --label-background-color: #{map.get($darkValues, bg)};
  }
}

// Generate styles for all colors
@each $color, $themes in $accentColors {
  @include setAccentColors($color);
}
