/* ===========================
   Base Styles (Global Settings)
=========================== */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply background color to body before content */
.night-mode {
  body::before,
  body {
    background: var(--dark-mode-main-bg-color) !important;
    color: var(---dark-mode-main-text-color); /* base text color */
  }
}

body::before,
body {
  background: var(--light-mode-main-bg-color) !important;
  color: var(--light-mode-main-text-color);
}

body {
  width: 100%;
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
}
